*.dll
*.suo
*.user
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.obj
*.pdb
*.vspscc
*.vssscc
publish/
packages/
packages/repositories.config
csx/
*.build.csdef
*.[Pp]ublish.xml
*.publishsettings
Thumbs.db
*.licenseheader

InitialRound.Web/Assets/Bootstrap
InitialRound.Web/Scripts/Markdown/LICENSE.txt
InitialRound.Web/Scripts/Markdown/Markdown.Converter.js
InitialRound.Web/Scripts/Markdown/Markdown.Sanitizer.js
InitialRound.Web/Scripts/knockout-2.1.0.js
InitialRound.Web/Scripts/modernizr-2.6.2-respond-1.1.0.min.js
InitialRound.Web/Scripts/underscore-min.js
