<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="InitialRound.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="InitialRound.BusinessLogic.Properties.Keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <InitialRound.BusinessLogic.Properties.Settings>
      <setting name="SessionExpiryInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="MaxLoginAttempts" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="AccountLockDuration" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="MinTimeBetweenLoginAttempts" serializeAs="String">
        <value>00:00:03</value>
      </setting>
      <setting name="EmailSender" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimumPasswordLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="AntiForgeryTokenExpiryInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="SaltSize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="HashIterations" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="HashSize" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="EmailSenderName" serializeAs="String">
        <value>Do Not Reply</value>
      </setting>
      <setting name="ResetPasswordTokenExpiryInterval" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="TestsExecutedPerQuestion" serializeAs="String">
        <value>10</value>
      </setting>
    </InitialRound.BusinessLogic.Properties.Settings>
    <InitialRound.BusinessLogic.Properties.Keys>
      <setting name="TokenKey" serializeAs="String">
        <value />
      </setting>
      <setting name="TokenVector" serializeAs="String">
        <value />
      </setting>
      <setting name="AntiForgeryKey" serializeAs="String">
        <value />
      </setting>
      <setting name="AntiForgeryVector" serializeAs="String">
        <value />
      </setting>
      <setting name="URLKey" serializeAs="String">
        <value />
      </setting>
      <setting name="URLVector" serializeAs="String">
        <value />
      </setting>
    </InitialRound.BusinessLogic.Properties.Keys>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>